modules = ["web", "python-3.12", "nodejs-20"]
run = "python undefined"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "python undefined"]

[workflows]
runButton = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = 41010346
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run.py"

[[ports]]
localPort = 5000
externalPort = 80
