<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="/" class="b-brand">
                <div class="b-bg">
                    <img src="{{ config.ASSETS_ROOT }}/images/simbolo-branco.png" alt="BRM Telecom" style="width: 24px; height: 24px;">
                </div>
                <span class="b-title">Sistema RPA</span>
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navegação</label>
                </li>
                <li data-username="dashboard Default Ecommerce CRM Analytics Crypto Project" 
                    class="nav-item {% if 'index' in segment %} active {% endif %}">
                    <a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span><span
                            class="pcoded-mtext">Dashboard</span></a>
                </li>
                <li class="nav-item pcoded-menu-caption">
                    <label>Sistema RPA</label>
                </li>
                <li data-username="Operadoras" 
                    class="nav-item {% if 'operadoras' in segment %} active {% endif %}">
                    <a href="{{ url_for('operadoras_bp.index') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-wifi"></i></span>
                        <span class="pcoded-mtext">Operadoras</span>
                    </a>
                </li>
                <li data-username="Clientes" 
                    class="nav-item {% if 'clientes' in segment %} active {% endif %}">
                    <a href="{{ url_for('clientes_bp.index') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                        <span class="pcoded-mtext">Clientes</span>
                    </a>
                </li>
                <li data-username="Processos" 
                    class="nav-item {% if 'processos' in segment %} active {% endif %}">
                    <a href="{{ url_for('processos_bp.index') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-file-text"></i></span>
                        <span class="pcoded-mtext">Processos</span>
                    </a>
                </li>
                <li data-username="Agendamentos" 
                    class="nav-item {% if 'agendamentos' in segment %} active {% endif %}">
                    <a href="{{ url_for('agendamentos.index') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-clock"></i></span>
                        <span class="pcoded-mtext">Agendamentos</span>
                    </a>
                </li>
                <li data-username="Execucoes" 
                    class="nav-item {% if 'execucoes' in segment %} active {% endif %}">
                    <a href="#" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-play"></i></span>
                        <span class="pcoded-mtext">Execuções</span>
                    </a>
                </li>
                
                <li class="nav-item pcoded-menu-caption">
                    <label>Configurações</label>
                </li>
                
                {% if current_user.is_admin %}
                <li data-username="Usuarios" 
                    class="nav-item {% if 'usuarios' in segment %} active {% endif %}">
                    <a href="{{ url_for('usuarios_bp.index') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-users"></i></span>
                        <span class="pcoded-mtext">Usuários</span>
                    </a>
                </li>
                {% endif %}
                
                <li data-username="Perfil" 
                    class="nav-item {% if 'profile' in segment %} active {% endif %}">
                    <a href="/profile.html" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-user"></i></span>
                        <span class="pcoded-mtext">Perfil</span>
                    </a>
                </li>

                <li data-username="Logout" class="nav-item">
                    <a href="{{ url_for('authentication_blueprint.logout') }}" class="nav-link">
                        <span class="pcoded-micon"><i class="feather icon-power"></i></span><span class="pcoded-mtext">Sair</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->